.backgroundImg {
    background-image: url("../../../../../public/bishamonten/in-shop.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 770px;

}

.backgroundImg2 {
    background-color: rgba(255, 255, 255, 0.34);
    background-blend-mode: lighten;
    width: 100%;

    background-image: url("../../../../../public/bishamonten/bg-paper.jpg");
}