.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Serif JP";
}

.main {
  width: 100%;
  height: auto;
  position: relative;
}

.productBgImg {
  background-image: url("../../public/bishamonten/oldble.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.aboutBgImg {
  background-image: url("../../public/bishamonten/cook.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


.imgWrapper {
  background-image: url("../../public/bishamonten/header-design.png");
  background-position: bottom;
  background-size: cover;
}

.headerBox {
  width: 100%;
  top: 0px;
  color: #C0BB82;
}

.topBox {
  height: 100vh;
  color: rgba(223, 232, 161, 0.8);
  border-color: "rgba(223, 232, 161, 0.8)"
}

.box {
  position: relative;
}

.sBox {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Noto Serif JP";
  width: 100%;
  color: #C0BB82;
  font-size: 0.8rem;
}



.title {
  padding-top: 2rem;
  margin: 1rem;
  line-height: 1.15;
  font-size: 0.2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  display: none;
}

.titleLogo {
  position: absolute;
  top: 0px;
  left: 0px;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.bgImage {
  background-image: url(../../public/bishamonten/oldble-all.jpg);
  background-position: 40%;
  box-sizing: border-box;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 49.8%;
  position: fixed;
  z-index: 0;

}

.bgVideo {
  overflow-x: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.video {
  object-fit: cover;
}


.Menu {
  margin-top: 3rem;
  margin-right: 3rem;
  position: absolute;
  right: 0%;
  top: 0%;
}


@media screen and (max-width: 960px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .inside {
    width: 100%;
  }

  .titleLogo {
    text-align: left;
  }


}

@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .inside {
    width: 100%;
  }

  .titleLogo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}




@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}