.repeatImages {
    margin-top: 5rem;
    margin-bottom: -4rem;
    opacity: 0.5;
    background: url("../../../../../../public/bishamonten/shop-logo-gray.png")repeat-x center center;
    animation: moveBg 4000s infinite linear;
    padding: 50px 0;
    text-align: center;
    background-size: contain;

}


@keyframes moveBg {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 50000px;
    }
}